<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    {% block stylesheets %}{% endblock %} {% block javascripts %} {% block
    importmap %}{{
      importmap("app")
    }}{% endblock %} {% endblock %}
  </head>
  <body class="bg-gray-100">
    {% include 'header.html.twig' %}

    <main class="container mx-auto p-4">{% block body %}{% endblock %}</main>

    {% include 'footer.html.twig' %}
  </body>
</html>
