<footer class="footer">
    <div class="footer-content">
        <!-- Section gauche : affiche le copyright -->
        <div class="footer-left">
            <p>© 2025 SneakerShop. Tous droits réservés.</p>
        </div>

        <!-- Section centrale : liste des liens et contacts -->
        <div class="footer-right">
            <ul class="footer-links">
                <li><a href="/contact">Contact</a></li>
                <li><a href="/mentions_legales">Mentions légales</a></li>
                <li><a href="/privacy-policy">Politique de confidentialité</a></li>
                <li><a href="/terms">Conditions d'utilisation</a></li>
            </ul>
        </div>
    </div>
</footer>