<head>
    <!-- Inclusion de Font Awesome pour les icônes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<header class="header">
    <!-- Logo du site -->
    <div class="logo">
        <img img src="{{ asset('images/logo.png') }} "alt="Logo" />
    </div>
    
    <!-- Barre de recherche -->
    <div class="search-bar">
        <input type="text" placeholder="Rechercher..." />
        <button><i class="fas fa-search"></i></button>
    </div>

    <!-- Menu de navigation principal avec sous-menus -->
    <nav class="navbar">
        <ul>
             <li class="dropdown">
                <a href="/articles/homme">Homme</a>
                <!-- Sous-menu Homme -->
                <ul class="dropdown-menu">
                    <li><a href="/articles/homme/adidas">Adidas</a></li>
                    <li><a href="/articles/homme/nike">Nike</a></li>
                    <li><a href="/articles/homme/puma">Puma</a></li>
                    <li><a href="/articles/homme/reebok">Reebok</a></li>
                    <li><a href="/articles/homme/nouveaute">Nouveauté</a></li>
                </ul>
             </li>
             <li class="dropdown">
                <a href="/articles/femme">Femme</a>
                <!-- Sous-menu Femme -->
                <ul class="dropdown-menu">
                    <li><a href="/articles/femme/adidas">Adidas</a></li>
                    <li><a href="/articles/femme/nike">Nike</a></li>
                    <li><a href="/articles/femme/puma">Puma</a></li>
                    <li><a href="/articles/femme/reebok">Reebok</a></li>
                    <li><a href="/articles/femme/nouveaute">Nouveauté</a></li>
                </ul>
             </li>
             <li class="dropdown">
                <a href="/articles/mixte">Mixte</a>
                <!-- Sous-menu Mixte -->
                <ul class="dropdown-menu">
                    <li><a href="/articles/mixte/adidas">Adidas</a></li>
                    <li><a href="/articles/mixte/nike">Nike</a></li>
                    <li><a href="/articles/mixte/puma">Puma</a></li>
                    <li><a href="/articles/mixte/reebok">Reebok</a></li>
                    <li><a href="/articles/mixte/nouveaute">Nouveauté</a></li>
                </ul>
             </li>
             <li class="dropdown">
                <a href="/articles/enfant">Enfant</a>
                <!-- Sous-menu Enfant -->
                <ul class="dropdown-menu">
                    <li><a href="/articles/enfant/adidas">Adidas</a></li>
                    <li><a href="/articles/enfant/nike">Nike</a></li>
                    <li><a href="/articles/enfant/puma">Puma</a></li>
                    <li><a href="/articles/enfant/reebok">Reebok</a></li>
                    <li><a href="/articles/enfant/nouveaute">Nouveauté</a></li>
                </ul>
             </li>
             <li class="dropdown">
                <a href="/articles/accessoires">Accessoires</a>
                <!-- Sous-menu Accessoires -->
                <ul class="dropdown-menu">
                    <li><a href="/articles/accessoires/chaussettes">Chaussettes</a></li>
                    <li><a href="/articles/accessoires/lacets">Lacets</a></li>
                    <li><a href="/articles/accessoires/produits-d-entretien">Produits d'entretiens</a></li>
                    <li><a href="/articles/accessoires/semelles">Semelles</a></li>
                    <li><a href="/articles/accessoires/nouveaute">Nouveauté</a></li>
                </ul>
             </li>
        </ul>
    </nav>
    
    <!-- Icônes pour le profil utilisateur et le panier -->
    <div class="icons">
        <a href="#profile" class="icon"><i class="fas fa-user"></i></a>
        <a href="#cart" class="icon"><i class="fas fa-shopping-cart"></i></a>
    </div>
</header>
